.steps {
  display: flex;
  padding: 20px;
  gap: 10px;
  align-items: center;
}

.step {
  padding: 12px 16px;
  background: var(--cor-blue);
  border-radius: 50px;
  color: white;
  font: 700 1.125rem/1 Arial;
  pointer-events: none;
}

.stepsContent {
  display: flex;
  gap: 8px;
}

.stepsList {
  width: 44px;
  height: 4px;
  background: var(--cor-blueLight);
  border-radius: 0.8rem;
  position: relative;
}

.stepsList.active {
  background: var(--cor-blue);
}

@media (max-width: 700px) {
  .stepsList {
    width: 22px;
    height: 4px;
    background: var(--cor-blueLight);
    border-radius: 0.8rem;
    position: relative;
  }
}
