@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

:root {
  --cor-divider: #d9d9d9;
  --cor-black: #333;
  --cor-blue: #2985f7;
  --cor-blue2: #0444e2;
  --cor-blueLight: #dbe2fb;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  color: var(--cor-black);
}

h1,
h2,
p,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.imgPerfil {
  width: 256px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  color: #fa5b54;
  font-weight: bold;
  font-size: 0.875rem;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-30px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: 1;
  }
}
