@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap");

:rootbackup {
  --cor-bgTheme: #2b2a2c;
  --cor-iconTheme: #ebeaec;
  --cor-divider: #d9d9d9;
  --cor-white: #fff;
  --cor-black: #333;
  --cor-blue: #2985f7;
  --cor-blue2: #0444e2;
  --cor-blueLight: #dbe2fb;
  --cor-bgIcon: #6265d8;
  --cor-bgHover: #f9f9fb;
  --cor-iconDisable: #8687a8;
  --cor-rgba: rgba(0, 0, 0, 0.19);
  --cor-select: #333;
}

:root {
  --cor-text: #333;
  --cor-bgMenu: #fff;
  --cor-dividerMenu: #ccc;
  --cor-iconHover: #8687a8;
  --cor-bgTheme: #2b2a2c;
  --cor-iconTheme: #ebeaec;
  --cor-divider: #d9d9d9;
  --cor-white: #fff;
  --cor-black: #333;
  --cor-blueLight: #dbe2fb;
  --cor-bgIcon: #6265d8;
  --cor-bgHover: #f9f9fb;
  --cor-iconDisable: #8687a8;
  --cor-rgba: rgba(0, 0, 0, 0.19);
}

[data-theme="dark"] {
  --cor-text: #ebeaec;
  --cor-bgMenu: #303136;
  --cor-dividerMenu: #11111167;
  --cor-iconHover: #111;
  --cor-bgTheme: #ebeaec;
  --cor-iconTheme: #2b2a2c;
  --cor-divider: #11111167;
  --cor-white: #080016;
  --cor-black: #f7f7f7;
  --cor-blue: #2985f7;
  --cor-blue2: #0444e2;
  --cor-blueLight: rgba(162, 132, 247, 0.5);
  --cor-bgIcon: #a284f7;
  --cor-bgHover: #8687a8;
  --cor-iconDisable: #f9f9fb;
  --cor-rgba: rgba(162, 132, 247, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  color: var(--cor-black);
  background: var(--cor-white);
}

h1,
h2,
p,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.imgPerfil {
  width: 256px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  color: #fa5b54;
  font-weight: bold;
  font-size: 0.875rem;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-30px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: 1;
  }
}

.teste2 path {
  fill: #fa5b54;
}

.input100 {
  width: 90% !important;
}

@media (max-width: 700px) {
  .input100 {
    width: 70% !important;
  }
}

@media (max-width: 500px) {
  .input100 {
    width: 90% !important;
  }
}
